*{
  margin: 0;
  padding: 0;
}
body {
  background-color: #f2f2f2;
  margin: 0px;
  font-family: tahoma;
  color: #282828;
}

.button {
  margin: 1em;
  background-color: #1f67c0;
  border-radius: 5px;
  font-size: 1em;
  width: 8em;
  height: 3em;
  color: white;
  padding: .2em;
  box-shadow: inset 0 -0.6em 1em -0.35em rgba(103, 117, 201, 0.17),
    inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
    inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
  text-align: center;
  cursor: pointer;
  
}

.cart {
  margin: 1em;
  float: right;
  border: 1px solid #d8d8d8;
  padding:  .5em 1em;
  background-color: white;
  -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
  position: fixed;
  right: 2em;
}

.color-circle {
  width: 50px;
  height: 50px;
  margin-top: 18px;
  border: 2px solid #d8d8d8;
  border-radius: 50%;
}

.active {
  text-decoration: line-through;
}

.disabledButton {
  background-color: #d8d8d8;
  cursor: not-allowed;
}

 .floatLeft{
  float: left;
} 


h3 {
  margin: 2em;
  font-size: 2em;
}

img {
  border: 2px solid #d8d8d8;
  width: 70%;
  margin: 40px;
  padding: 15px;
  -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
}

input {
  width: 70%;
  height: 40px;

  border-radius: .3em;
}

label {
  font-size: 1em;

}

li {
  font-size: 1em;
}

.nav-bar {
  background: linear-gradient(-90deg, #84cf6a, #16c0b0);
  height: 4em;
  margin-bottom: 2em;
  -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.57);
}

.out-of-stock-img {
  opacity: 0.5
}

p {
  font-size: 22px;
}



.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.product-image{
  width: 50%;
}

.product-info {
  width: 50%;
  display: flex;
  flex-direction: column;
 
}


.review-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 2em;
  margin-left: auto;
  border: 2px solid #d8d8d8;
  background-color: white;

  box-shadow: 2px 15px -12px rgba(#16c0b0);
}

.review-container {
  width: 70%;
  padding: 20px;
  background-color: white;
  -webkit-box-shadow: 0px 2px 20px -12px rgba(64, 26, 199, 0.57);
  -moz-box-shadow: 0px 2px 20px -12px rgba(106, 20, 204, 0.57);
  box-shadow: 2px 20px -12px rgba(59, 30, 189, 0.57);
  /* margin-left: 40px; */
  border: 2px solid #d8d8d8;
  margin: 2em auto;
}

/* .review-container li {
  margin-bottom: 30px;
} */

.review-form .button {
  display: block;
  margin: 1em auto;
}

select {
  height: 1.5em;
  font-size: 1.5em;
  text-align: center;
  background-color: #1f67c0;
  cursor: pointer;
  color: #d8d8d8;
  border-radius: .3em;
}

textarea {
  width: 95%;
  height: 2em;
  padding: 10px;
  font-size: 2em;
  border-radius: .3em;
}

ul {
  list-style-type: none;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .product-image{
width: 90%;
  }
  .product-info {
   
    padding: 2em;
    width: 100%;
  }
.button{
  width: 6em;
}
  
}